body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-side {
    flex: 0 2 400px;
    background-image: url('./images/lofi-girl.jpg');
    background-size: cover;
}
.right-side {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}



.layer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    border: dashed 1px black

}


.card {
    display: flex;
    gap: 2rem;
}

label {
    display: block;
}

form {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-bottom: auto; */
}